{% extends 'base.html' %}

{% block title %}
    Cinema assistant
{% endblock%}

{% block content %}
    <div id = 'title' class="container-title">
        <a>
            <img src="/static/movie2.png" alt="Movie" width="60" height="60" class="rounded-left">
            <h1 class="">Warsaw movie recommendations</h1>
        </a>
    </div>
    <div id="form" class = "container-form">
        <form action="{{url_for('get_info', options = day)}}"  method="GET">
            <div class="flex form-check-inline">
                <input type="radio" id="TODAY" name="day" value="Today" checked>
                <label for="TODAY">Today</label>
            </div>
            <div class="flex form-check-inline">
                <input type="radio" id="TOMORROW" name="day" value="Tomorrow">
                <label for="TOMORROW">Tomorrow</label></div>
            <div class="flex form-check-inline">
                <input type="radio" id="DAY AFTER TOMORROW" name="day" value='Day After Tomorrow'>
                <label for="DAY AFTER TOMORROW">Day After Tomorrow</label></div>
          <button id='button' type="submit" class="btn btn-primary">GO TO RESULT</button>
    </div>

    <div class="row mt-4">
        <h4>The results will be with you in about 20 seconds.</h4>
    </div>
{%endblock%}

